# DB: Use root/example as user/password credentials
version: "3"

services:
  grafana:
    image: grafana/grafana-enterprise
    environment:
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: metricsDB 
    ports:
      - 3000:3000
    user: '104'
    volumes:
        - ./grafana/datasources:/etc/grafana/provisioning/datasources
        - ./grafana/dashboards:/etc/grafana/provisioning/dashboards

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  db:
    container_name: db
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: metricsDB 
    ports:
      - 3306:3306
  devops-metrics:
    container_name: devops_metrics
    image: sebbdevops/devops-metrics:latest
    depends_on:
      - "db"
    volumes:
        - ./config.local.cfg:/config.local.cfg
        - ./docker-compose-utilities/:/docker-compose-utilities/
    command: sh -c "sleep 10 && python3 ~/devops-metrics/main.py /config.local.cfg"

  
