# DB: Use root/example as user/password credentials
version: "3"

services:
  grafana:
    image: grafana/grafana-enterprise
    ports:
      - 3000:3000
    user: '104'
    networks:
      infra:

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      infra:

  db:
    container_name: db
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: metricsDB 
    ports:
      - 3306:3306
    networks:
      infra:

  devops-metrics:
    container_name: devops_metrics
    image: sebbdevops/devops-metrics:latest
    networks:
      infra:
    depends_on:
      - "db"
    volumes:
        - ./config.local.cfg:/app/config.local.cfg
        - ./docker-compose-utilities/:/app/docker-compose-utilities/
    command: ["/app/docker-compose-utilities/wait-for-it.sh","--","python3","/app/devops-metrics/main.py","/app/config.local.cfg"]
networks:
  infra:

  
